@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
*{
    box-sizing:border-box;
    margin :0;
    padding:0;
    font-family: 'Poppins',sans-serif;
} 
    /* Navbar */
        .navbar{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #040509;
            position: sticky;
            top: 0;
        }
        .navbar ul{
            display: flex;
            list-style: none;
            margin: 20px 0px;
        }
        .navbar ul li{
            font-family: century;
            font-size: 1.1rem;
            font-weight: bold;
        }
        .navbar ul li a{
            text-decoration: none;
            color: #bdc0cc;
            padding: 8px 25px;
            transition: all .5s ease;
        }
        .navbar ul li a:hover{
            background-color: #bdc0cc;
            color: #0e0202;
            box-shadow: 0 0 10px #bdc0cc;
        }
        /*home section */
        #home{
            display: flex;
            flex-direction: column;
        }
        #home ::before{
            content: "";
            position:absolute;
            top:0;
            right:0;background: url(C:\Users\cash\Desktop\IMAGES\iamages.png )no-repeat center center/cover;
            height: 100px;
            w
        }

