@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
:root {
    --overlay-color:#2c8a2df4;
}
*{
     
    box-sizing:border-box;
    margin :0;
    padding:0;
    font-family: 'Poppins',sans-serif;
 
}
.showcase {
    position:absolute;
    right:0;
    width:100%;
    min-height:100vh;
    padding:100px;
    display:flex;
    justify-content:space-betweeen;
    align-items:center;
    background:#9a2cfb;
    color:#ffef08;
    z-index:2;
    transition:2s ;

}
.showcase.active {
    right: 3oopx;
}
 .showcase.active{
    right:300px; 
 }
.logo{
    text-transform:uppercase;
    cursor:pointer;
}
.showcase header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:40px 100px;
    z-index:1000;
    display:flex;
    align-items:center;
    color: #bdc0cc ;
    justify-content:space-betweeen;

}
.logo {
    text-transform: uppercase;
    cursor:pointer;
}
.toggle {
    position:relative;
    width:30px;
    height:30px;
    background:url(../IMAGES/menu-rounded.png);
    background-repeat:no-repeat;
    background-size:30px;
    background-position:center;
    cursor:pointer;
}
.toggle.active{
    position: absolute;
   background:url(../IMAGES/menu-rounded.png);
    background-repeat:no-repeat;
    background-size:25px;
    background-position:center;  
}
.showcase video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity: 0.8;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--overlay-color);
    

    mix-blend-mode: overlay;
}
.text {
    position:relative;
    z-index: 10;

}
.text h2{
    
    font-size: 5em;
    font-weight: 8000;
    line-height: 2em;
    text-transform: uppercase;
}

.text h3{
    
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.text p { 
    font-size: 1.1em;
    margin:20px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a {
    display: inline-block;
    font-size: 1.2em;
    font-size: #350de6;
    padding: 10px 30px;
    text-decoration: none;
    color: #fb1010;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px; 
    transition: 0.2s;  
}
.text a:hover {
    letter-spacing: 6px;
}
.social{
    position: absolute;
    bottom:20px;
    z-index: 10;
    display:flex;
    justify-content: center;
    align-items: center;
}
.social li {
    list-style: none;
}
    .social li a {
        display: inline-block;
        filter: invert(1);
        margin: right 20px;
        transform:scale(0.5);
        transition: 0.5s;
    }
    .social li a hover {
        transform: scale(0.5) translate(-15px);

    }

        
    
    
    .text h2 {  
         font-size: 3em;
    }
    .text h3 {
        font-size: 3em;
    }
    
    
        h1{
            background-color: #237deb;
            padding: 10px; 
        }
        h2{
            background-color: #0834e4;
        }          

        

            

        
    

